# undo tree log
/.config/nvim/.undodir/ 

# ignore everthing
/*

# except these
!.gitignore
!.xinitrc
!assets/

!/.config
/.config/*

!/.config/autorandr
!/.config/nvim
!/.config/suckless
!/.config/sxhkd
!/.config/tmux
!/.config/zsh
!/.config/bash
